<!DOCTYPE html>
<html lang="en">

<head>
  @include('layouts/header')
</head>

<body>
  <div id="overlay" class="">Loading&#8230;</div>
  @include('layouts/nav')
  @!section('breadcrumbs')
  <div>
    <br>
    @!section('content')
  </div>

  @!section('javascripts')

  @include('layouts/footer')
</body>

</html>
